

@{
                /**/

                ViewBag.Title = "OrderDishToTableResult";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Proerty header  -->
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Order Dish to Table Result</h2>
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                        <li class="active">Order Dish Result</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<h4 class="success"> Success!! </h4>